/* css reset  */
*{
    margin: 0px;
    padding:0px;
}

/* css variable */ 
:root{
    --navbar-height:59px;
}

/* navigation bar  */
#navbar{
    display:flex;
    align-items: center;
}

/* navigation bar: logo and image  */
#logo{
    margin:10px 20px;

}
#logo img{
    height:70px;
    width:70px;
    margin:5px 5px; 
    border: 2px solid grey;
    border-radius: 70px;

}

/* navigation bar: list styling */
#navbar ul{
    display: flex;
}
#navbar{
    position:relative;
}
#navbar::before{
    content: "";
    background-color: black;
    position:absolute;
    height:100%;
    width:100%;
    z-index: -1;
    opacity: 0.79;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    text-shadow: 5px 5px 8px black;
}
#navbar ul li a{
    display:block;
    padding:3px 15px;
    border-radius: 3px;
    text-decoration: none;
    color:white;
}
#navbar ul li a:hover{
    color:black;
    background-color: white;
    border-radius: 10px;
}

/* home section  */
#home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:3px 200px;
    height: 420px; 
}
#home::before{
    content: "";
    top:0;
    left:0;
    position:absolute;
    background:url('../images/background.png') no-repeat center center/cover;
    height:70%;
    width:100%;
    z-index:-1;
    opacity: 0.5;
    
}
#home h1{
    color:black;
    text-align: center;
    text-shadow: 3px 3px 7px gray;
    font-family: "Playfair Display", serif;
}
#home p{
    color:black;
    text-align: center;
    font-size: 1.2rem;
    font-family: "Bree Serif", serif;
}

/* utility classes  */
.h-primary{
    font-size: 3.2rem;
    padding:12px;
}

.btn{
    padding:6px 20px;
    border:2px solid black;
    background-color: rgb(36, 35, 35);
    margin: 9px auto;
    font-size: 1.2rem;
    color: white;
    border-radius: 7px;
    cursor: pointer;
}
/* services section  */
#services{
    margin: 34px;
    display:flex;

}
#services .box{
    border:2px solid black;
    padding:9px 9px;
    margin:7px 10px;
    border-radius: 23px;
    background-color: rgb(250, 217, 158);
    height: 350px;
    width:450px;
}
#services .box img{
    height:200px;
    margin:auto;
    display: block;
}
.h-primary-center{
    text-align: center;
    font-family: "Playfair Display", serif;
    text-shadow: 3px 6px 8px gray;
    font-size: 40px;
}
.center{
    text-align: center;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:6px 4px;
    padding:5px 5px;
}
.h-secondary-center{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}
#client-section{
    height: 344px;
    position:relative;
    z-index:1;

}
#client-section::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    background: url("../images/cleint-background.jpg") no-repeat center center/cover;
    width:100%;
    height:60%;
    z-index:-1;
    opacity: 0.4;
}
#client{
    display: flex;
    justify-content: center;
    align-items: center;
}
#client img{
    height:100px;
    width:100px;
}
.client-items{
    margin:4px 7px;
    padding:4px 6px;
}


